.inner-submenu {
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid darkred;

  &__item {
    padding: 0 10px;
    border-right: 1px solid darkred;
    display: inline-block;
    color: black;

    &:hover, &:focus {
      text-decoration: none;
      color: darkred;
    }
  }
}