body, html {
  height: 100%;
}

body {
  background: url('/src/assets/logo_back.png');
  font-family: 'Merriweather', serif;
}

.full-height {
  height: 100%;
}

.no-padding {
  padding: 0;
}

.display-flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.red {
  color: darkred;
  background-color: white;
  padding: 5px;
}

.svg-icon {
  fill: darkred;

  &:hover {
    fill: darken(darkred, 10);
  }
}

#skull {
  display: flex;
  position: relative;
  padding: 0;
  z-index: 1;
}

.logo_background {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  background: url('/src/assets/logo.png') black center center no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  opacity: 1;
  transition: opacity 1s;
  display: flex;
  justify-content: center;

  &--small {
    width: 140px;
    height: 140px;
    padding-top: 0;
    background: url('/src/assets/logo.png') center center no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  .since {
    color: white;
    position: absolute;
    bottom: 10%;
  }

  &.inactive {
    opacity: 0;
  }
}

.main-nav {

  &--vertical {
    position: absolute;
    top: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
    transition-delay: .5s;

    &.active {
      top: 0;
    }

    &__item {
      margin-top: 10px;
      color: black;
      font-size: 2em;
    }
  }

  &--horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    top: calc(50% - 3.5vh);
    left: 0;
    z-index: 0;
    height: 0;
    opacity: 0;
    transition: all .5s;
    transition-delay: .8s;
    box-sizing: border-box;

    &__item {
      font-size: 3.5vh;
      padding: 0 20px;
      cursor: pointer;
      margin: 0;
      text-decoration: none;
      color: white;
      
      &:hover {
        color: darkred;
        text-decoration: none;
      }
    }

    &.active {
      height: 7vh;
      opacity: 1;
    }
  }
}

.social-icons {
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;
  transition-delay: 1.2s;

  &.active {
    opacity: 1;
  }

  &__icon {
    width: 50px;
  }
}

.padding-for-header {
  padding: 50px 0 0 0 !important;

  @media screen and (min-width: 768px) {
      padding: 140px 0 0 0 !important;
  }
}

.main-enter-active, .main-leave-active {
  transition: opacity .3s
}

.main-enter, .main-leave-to {
  opacity: 0;
}

.header-enter-active, .header-leave-active {
  transition: opacity .3s;
}

.header-enter, .header-leave-to {
  opacity: 0;
}